body {
  font-size: 16px;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: normal;
  line-height: 22px;
  color: #323232;
  background-color: #849d8f;
}

body>input[type="radio"] {
  display: none;
}

h1 {
  font-size: 35px;
  color: #fff;
  font-weight: bold;
  padding: 0;
  margin: 5px 0 0 27px;
}

h2 {
  font-size: 24px;
  line-height: 30px;
  color: #323232;
  margin: 0;
  padding: 0;
}

.info-about {
  font-size: 24px;
  line-height: 30px;
  color: #323232;
  margin: 0px;
  font-weight: 500;
  padding-right: 5px;
}

.info-about span {
  margin-right: 10px;
}

h3 {
  font-size: 16px;
  font-family: "Roboto Medium", "Arial", sans-serif;
  font-weight: 600;
  line-height: 22px;
  color: #ffffff;
  padding: 0;
  margin: 0;
}

.modal-overlay {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  }

.modal-overlay-shadow {
  display: block;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }
  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }
  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes shake {
  0%, 100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@keyframes shake {
  0%, 100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

.modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -238px;
  margin-top: -270px;
  width: 476px;
  height: 441px;
  padding-top: 20px;
  padding-left: 25px;
  color: #323232;
  line-height: 24px;
  font-weight: 500;
  background: #f8f7f4;
  box-sizing: border-box;
  border-radius: 10px;
  z-index: 1002;
  display: none;
}

.modal-content-close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 18px;
  height: 18px;
  font-size: 0;
  border: 0;
  cursor: pointer;
  background: none;
}

.modal-content span {
  display: block;
  margin: 0 0 20px;
  font-size: 24px;
  line-height: 28px;
}

.modal-content-map {
  position: absolute;
  top: 1880px;
  left: auto;
  width: 1200px;
  height: 430px;
  background: url("../img/map.png");
  z-index: 50;
}

.modal-content-show {
  display: block;
  -webkit-animation: bounce 0.5s;
          animation: bounce 0.5s;
}

.modal-error {
  -webkit-animation: shake 0.6s;
          animation: shake 0.6s;
}

.login-form input[type="text"], .login-form input[type="password"] {
  width: 262px;
  margin: 0;
  margin-bottom: 20px;
  padding: 13px;
  border-radius: 5px;
  border: 1px solid #999;
}

.login-form input:hover, textarea:hover {
  border: 1px solid red;
}

.login-form input:focus, textarea:focus {
  border: 2px solid red;
}

.login-form .btn {
  float: right;
  width: 138px;
  margin-top: 25px;
  margin-right: 25px;
  padding: 11px 23px;
  background-color: #f16542;
  color: #fefefe;
  box-sizing: border-box;
  border: none;
  border-radius: 25px;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

.comment {
  padding: 13px;
  border-radius: 5px;
  border: 1px solid #999;
  width: 427px;
  box-sizing: border-box;
}

.modal-content-close::before, .modal-content-close::after {
  content: "";
  position: absolute;
  top: 7px;
  right: -1px;
  width: 21px;
  height: 3px;
  background-color: #323232;
}

.modal-content-close::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.modal-content-close::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
}

.site-wrapper {
  min-width: 1200px;
  background-color: #849d8f;
  background-image: url("../img/slide-1.png");
  background-repeat: no-repeat;
  background-position: top center;
  -webkit-transition: background-image 0.5s ease, background-color 0.5s ease;
  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper:before, .site-wrapper:after {
  content: "";
  visibility: hidden;
}

.site-wrapper:before {
  background-image: url("../img/slide-2.png");
}

.site-wrapper:after {
  background-image: url("../img/slide-3.png");
}

.content-wrapper {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
}

.slider {
  position: relative;
  padding-top: 270px;
  padding-bottom: 40px;
  text-align: center;
  color: #ffffff;
}

.slide {
  display: none;
}

.btn-1:checked~.site-wrapper .slide1,
.btn-2:checked~.site-wrapper .slide2,
.btn-3:checked~.site-wrapper .slide3 {
  display: block;
}

.btn-1:checked~.site-wrapper label[for="btn-1"],
.btn-2:checked~.site-wrapper label[for="btn-2"],
.btn-3:checked~.site-wrapper label[for="btn-3"] {
  background-color: #ffffff;
}

.btn-1:checked~.site-wrapper {
  background: #849d8f url("../img/slide-1.png") no-repeat top center ;
}

.btn-2:checked~.site-wrapper {
  background: #8996a6 url("../img/slide-2.png") no-repeat top center ;
}

.btn-3:checked~.site-wrapper {
  background: #9d8b84 url("../img/slide-3.png") no-repeat top center ;
}

.btn-1:hover~.site-wrapper label[for="btn-1"],
.btn-2:hover~.site-wrapper label[for="btn-2"],
.btn-3:hover~.site-wrapper label[for="btn-3"] {
  background-color: #b2c1b7;
}

.btn-1:checked:hover~.site-wrapper label[for="btn-1"],
.btn-2:checked:hover~.site-wrapper label[for="btn-2"],
.btn-3:checked:hover~.site-wrapper label[for="btn-3"] {
  background-color: #ffffff;
}

.slide-title {
  width: 700px;
  margin: 40px auto;
  padding-top: 2px;
  padding-left: 1px;
  margin-bottom: 32px;
  font-weight: bold;
  font-size: 60px;
  line-height: 60px;
}

.slide-btn {
  display: inline-block;
  padding: 8px 40px;
  font-size: 32px;
  line-height: 44px;
  vertical-align: top;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: #f26843;
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  width: 278px;
  height: 64px;
  box-sizing: border-box;
}

.slide-btn:hover {
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.slide-btn:active {
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls {
  position: absolute;
  bottom: 62px;
  left: 28px;
  z-index: 20;
  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.index-logo {
  width: 152px;
  float: left;
  margin-top: 2px;
  margin-left: -3px;
}

.main-header {
  margin-left: 27px;
  padding-top: 6px;
}

.main-menu, .sub-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.main-menu>li {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
  padding-bottom: 7px;
  position: relative;
}

.menu-item {
  color: #ffffff;
  text-decoration: none;
  padding: 8px 14px;
  border-radius: 20px;
  display: block;
  vertical-align: top;
  box-sizing: border-box;
}

.menu-item:hover {
  color: black;
  background: #f7f6f3;
  text-decoration: none;
}

.menu-item:active {
  box-shadow: inset 0 1px 1px 1px #696969;
}

.menu-item::before {
  content: "";
  position: absolute;
  top: 25px;
  left: 13px;
  right: 13px;
  background-color: #adbdb4;
  height: 1px;
  width: auto;
}

.menu-item:hover::before {
  display: none;
}

.header-left {
  float: left;
  margin-top: 15px;
  width: 400px;
  margin-left: 16px;
}

.header-right-top {
  float: right;
  font-size: 0;
  margin: 0;
  margin-top: 17px;
  margin-right: 19px;
  width: 269px;
  position: relative;
}

.header-right-bottom {
  position: absolute;
  text-align: right;
  margin: 0;
  padding: 0;
  top: 47px;
  right: 6px;
  width: 180px;
  z-index: 5;
}

.header-right-bottom-2 {
  position: absolute;
  text-align: right;
  margin: 0;
  right: 0;
  padding: 0;
  top: 47px;
  width: 180px;
}

.header-right-bottom p {
  color: #fff;
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 5px;
}

.header-right-bottom span {
  display: block;
  color: #fff;
  font-size: 22px;
  line-height: 24px;
  font-weight: bold;
}

.header-right-bottom-2 p {
  color: #fff;
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 5px;
}

.header-right-bottom-2 span {
  display: block;
  color: #fff;
  font-size: 22px;
  line-height: 24px;
  font-weight: bold;
}

.breadcrumbs {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 28px;
  margin-top: 19px;
 font-size: 0;
}

.breadcrumbs li {
  display: inline-block;
  position: relative;
  padding-right: 21px;
}

.breadcrumbs a {
  color: #fff;
  display: block;
  border-bottom: 1px solid #aebeb5;
  text-decoration: none;
  font-size: 14px;
  line-height: 16px;
}

.breadcrumbs a::after {
  content: "»";
  color: #fff;
  position: absolute;
  left: 61px;
  top: 0;
}

.breadcrumbs span {
  display: block;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
}

.sub-menu {
  position: absolute;
  top: 40px;
  display: none;
  background-color: #f8f7f4;
  box-shadow: 5px 15px 15px 5px #58665e;
  border-radius: 5px;
  z-index: 10;
}

li:hover .sub-menu {
  display: block;
}

.sub-menu li {
  display: inline-block;
  width: 145px;
  vertical-align: middle;
}

.sub-menu a {
  font-size: 12px;
  line-height: 16px;
  font-weight: normal;
  padding-bottom: 7px;
  padding-left: 17px;
  padding-top: 8px;
}

.sub-menu .sub-menu-news {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  padding-top: 12px;
  padding-bottom: 15px;
}

.sub-menu-news::after {
  content: "";
  background-color: #d1d0ce;
  height: 2px;
  width: 131px;
  position: absolute;
  top: 38px;
  left: 10px;
}

.sub-menu li:last-child {
  border-radius: 0 0 5px 5px;
}

.sub-menu li:first-child {
  border-radius: 5px 5px 0 0;
}

.sub-menu li:hover {
  background-color: #fbded7;
}

.sub-menu li:active {
  background-color: #f6b5a5;
}

.sub-menu a {
  color: #000000;
  text-decoration: none;
  display: block;
}

.sub-menu  .sub-menu-choice {
  background-color: #d07058;
  color: #fff;
}

.active-catalog {
  color: #ffffff;
  text-decoration: none;
  padding: 8px 14px;
  border-radius: 20px;
  display: block;
  vertical-align: top;
  box-sizing: border-box;
  background-color: #d07058;
}

.field {
  padding: 16px;
  display: block;
  background: #a1b6aa url("../img/search-icon.png") no-repeat 50% 50%;
  border-radius: 16px;
}

.field:hover .search-form {
  display: block;
}

.search {
  display: inline-block;
  vertical-align: top;
  position: relative;
  padding-bottom: 4px;
}

.field:hover {
  background: #f8f7f4 url("../img/search-active.png") no-repeat 50% 50%;
  border-radius: 20px;
}

.search:hover .search-modal {
  display: block;
}

.search-modal {
  position: absolute;
  display: none;
  top: 36px;
  right: 0;
  padding: 20px 15px;
  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 2px 10px 20px 3px #505f57;
  z-index: 5;
  width: 312px;
}

.search-modal input[type="search"] {
  font-size: 14px;
  color: #999;
  line-height: 24px;
  border-radius: 5px;
  padding: 9px 14px;
  padding-right: 151px;
  background-color: #fff;
  box-shadow: none;
  border: 1px solid #d3d3d2;
}

.login {
  display: inline-block;
  vertical-align: top;
  position: relative;
  padding-bottom: 4px;
}

.entry {
  display: block;
  height: 32px;
  width: 92px;
  font-size: 14px;
  line-height: 16px;
  padding: 6px 20px;
  padding-left: 45px;
  text-decoration: none;
  color: #fff;
  box-sizing: border-box;
  background: #a1b6aa;
  margin-left: 10px;
  border-radius: 15px;
}

.login-icon {
  padding-bottom: 6px;
}

.login .help {
  text-align: left;
  font-size: 13px;
  line-height: 16px;
  margin: 0;
  padding: 0;
  position: absolute;
  color: #323232;
  text-decoration: none;
  border-bottom: 1px solid #323232;
}

.help-1 {
  right: 38px;
  bottom: 46px;
}

.help-2 {
  right: 19px;
  bottom: 25px;
}

.entry:hover {
  background: #f8f7f4;
  border-radius: 15px;
  color: #000;
}

.login:hover .login-modal {
  display: block;
  z-index: 10;
}

.entry::before {
  content: "";
  width: 22px;
  height: 19px;
  position: absolute;
  background: url("../img/login-icon.png") no-repeat;
  left: 25px;
  top: 5px;
}

.entry:hover::before {
  background-image: url("../img/login-active.png");
}

.login-modal {
  display: none;
  position: absolute;
  font-size: 14px;
  background-color: #f8f7f4;
  border-radius: 5px;
  top: 35px;
  right: -2px;
  z-index: 5;
  padding: 20px 19px;
  width: 276px;
  height: 213px;
  box-sizing: border-box;
  box-shadow: 2px 10px 20px 3px #505f57;
}

.login-modal input {
  font-size: 14px;
  color: #999;
  line-height: 24px;
  border-radius: 5px;
  padding: 9px 12px;
  margin-bottom: 20px;
  border: 1px solid #d3d3d2;
  width: 240px;
  box-sizing: border-box;
}

.login-modal input[type="submit"] {
  display: inline-block;
  padding: 10px;
  border-radius: 20px;
  background-color: #f26843;
  color: #fefefe;
  width: 100px;
  height: 45px;
  border: none;
  font-weight: bold;
  box-sizing: border-box;
}

.basket {
  display: inline-block;
  vertical-align: top;
  position: relative;
  border-radius: 15px;
  margin-left: 10px;
  padding-bottom: 5px;
}

.basket-modal {
  position: absolute;
  background-color: white;
  width: 540px;
  height: 242px;
  right: 0;
  top: 100%;
  border-radius: 5px;
  z-index: 10;
  display: none;
  box-shadow: 2px 10px 20px 3px #505f57;
}

.basket-product {
  float: left;
  font-size: 0;
  line-height: 0;
}

.btn-wrapp {
  height: 45px;
  padding: 0;
  margin: 0;
  font-size: 0;
}

.btn-order {
  display: inline-block;
  padding: 11px 14px;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  vertical-align: top;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  background: #f26843;
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  box-sizing: border-box;
  border-radius: 50px;
  width: 170px;
  height: 44px;
  margin-left: 350px;
  margin-top: 6px;
}

.marked {
  padding: 0;
  margin: 0;
  font-size: 13px;
  line-height: 16px;
}

.marked .basket-1, .basket-2 {
  display: inline-block;
  margin-top: 27px;
  vertical-align: top;
}

.marked .basket-2 {
  margin-top: 24px;
}

.marked .marked-name {
  width: 220px;
  padding-left: 83px;
  text-decoration: none;
  color: #323232;
}

.name-1::after {
  content: "";
  position: absolute;
  width: 33px;
  height: 33px;
  background-image: url("../img/basket-mini1.png");
  left: 38px;
  top: 19px;
}

.name-2::after {
  content: "";
  position: absolute;
  width: 33px;
  height: 33px;
  background-image: url("../img/basket-mini2.png");
  left: 38px;
  top: 71px;
}

.marked .basket-sum {
  padding-left: 25px;
}

.marked .basket-sum span {
  color: #999;
}

.marked .basket-sum-all {
  padding-left: 24px;
}

.marked .name-1 {
  margin-top:27px;
}

.marked .name-2 {
  margin-top: 24px;
}

.closed {
  width: 12px;
  height: 10px;
  background-image: url("../img/basket-close.png");
  position: absolute;
  left: 17px;
}

.closed-1 {
  top: 28px;
}

.closed-2 {
  top: 82px;
}

.basket-modal::before {
  content: "";
  width: 506px;
  height: 1px;
  position: absolute;
  background-color: #cacac7;
  bottom: 112px;
  left: 15px;
}

.total {
  display: inline-block;
  text-align: right;
  font-size: 15px;
  line-height: 18px;
  color: black;
  font-weight: bold;
  margin-top: 30px;
  margin-left: 415px;
}

.basket-field-on {
  display: block;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  color: #fff;
  padding: 6px 20px;
  padding-left: 44px;
  min-width: 118px;
  height: 32px;
  box-sizing: border-box;
  position: relative;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
}

.basket-field-on::before{
  content: "";
  width: 21px;
  height: 20px;
  position: absolute;
  background-image: url("../img/basket-icon.png");
  left: 14px;
  bottom: 6px;
}

.basket-field-on.active {
  background-color: #f7f6f3;
  color: #000000;
}

.basket-field-on.active::before {
  content: "";
  width: 21px;
  height: 20px;
  position: absolute;
  background-image: url("../img/basket-active.png");
  left: 14px;
  top: 5px;
}

.basket:hover .basket-modal {
  display: block;
}

.stock {
  color: #fff;
  margin-bottom: 30px;
}

.offer {
  float: left;
  width: 562px;
  min-height: 229px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  border-radius: 20px;
  position: relative;
}

.offer span {
  display: block;
  font-size: 35px;
  line-height: 41px;
  padding-top: 17px;
  font-weight: bold;
}

.offer p {
  margin: 0;
  margin-top: 14px;
  padding: 0;
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
}

.btn-stock {
  display: inline-block;
  background-color: #ea5b3d;
  color: white;
  text-decoration: none;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  padding: 10px 22px 14px 22px;
  border-radius: 20px;
  position: absolute;
  right: 22px;
  bottom: 23px;
  max-height: 46px;
  box-sizing: border-box;
}

.btn-stock:hover {
  background-color: #f38367;
  box-shadow: 0 1px 1px 0 #a23324;
}

.btn-stock:active {
  background-color: #df5c3c;
  box-shadow: inset 0 -1px 1px 0 #952718;
}

.stock-right {
  position: relative;
  background: #79092b url("../img/stock-right.png");
}

.stock-left {
  position: relative;
  margin-left: 27px;
  margin-right: 26px;
  background: #79092b url("../img/stock-left.png");
}

.products {
  font-size: 0;
  position: relative;
}

.icecream {
  display: inline-block;
  padding-top: 6px;
  width: 267px;
  min-height: 335px;
  margin-bottom: 21px;
  padding-right: 14px;
  padding-left: 13px;
  vertical-align: top;
  color: #fff;
  position: relative;
  text-align: center;
}

.icecream:nth-child(4n) {
  padding-right: 0;
  padding-left: 12px;
}

.icecream-img {
  position: relative;
  padding-right: 13px;
  padding-left: 13px;
  padding-top: 5px;
}

.icecream-wrapper {
  position: absolute;
}

.icecream-wrapper:hover {
  background: rgba(168, 185, 174, 0.3);
  border-radius: 5px;
  z-index: 70;
}

.icecream-price:hover .icecream-btn {
  display: block;
}

.icecream:hover .icecream-btn {
  display: block;
}

.icecream-price {
  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
  position: absolute;
  bottom: 71px;
  left: 14px;
  z-index: 200;
  padding-right: 90px;
}

.mini {
  font-size: 30px;
  line-height: 45px;
  top: 4px;
  right: 12px;
  position: absolute;
}

.mini::after {
  content:"";
  position: absolute;
  width: 31px;
  height: 36px;
  background-image: url("../img/symbol.png");
  right: 44px;
  top: 2px;
}

.icecream-species {
  display: block;
  text-align: center;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 1px;
  height: 46px;
  overflow: hidden;
}

.icecream-item {
  text-decoration: none;
  color: #fff;
  border-bottom: 1px solid #9db1a5;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.icecream-btn {
  padding-top: 9px;
  background: #f06441;
  margin: 9px 46px 21px 46px;
  color: white;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  width: 200px;
  height: 44px;
  box-sizing: border-box;
  border-radius: 20px;
  text-decoration: none;
  display: none;
}

.hit::before {
  content: "";
  position: absolute;
  background-image: url("../img/hit-image.png");
  width: 61px;
  height: 61px;
  left: 28px;
  top: 10px;
  z-index: 100;
  text-align: center;
}

.about-us {
  margin-top: 9px;
  margin-bottom: 40px;
  padding: 24px 22px 17px;
  box-sizing: border-box;
  background: #e9d9b8 url("../img/wafer-background.png");
  border-radius: 10px;
  width: 1146px;
  height: 310px;
  position: relative;
}

.about-us-left {
  float: left;
}

.about-us-right {
  float: right;
}

.about-us-left-top {
  vertical-align: top;
  font-size: 0;
  width: 480px;
}

.about-us-left-top p {
  font-size: 16px;
  line-height: 22px;
  padding: 0;
  padding-left: 55px;
  padding-top: 21px;
  margin: 0;
}

.about-us-left-bottom {
  vertical-align: top;
  font-size: 0;
}

.about-us-left-bottom p {
  font-size: 16px;
  line-height: 22px;
  padding-left: 55px;
  padding-top: 6px;
  width: 480px;
}

.about-us-right-top {
  vertical-align: top;
  font-size: 0;
}

.about-us-right-top p {
  font-size: 16px;
  line-height: 22px;
  padding-left: 55px;
  padding-top: 6px;
  width: 480px;
}



.about-us-left::before {
  content: "";
  width: 49px;
  height: 49px;
  background-image: url("../img/icon-icecream.png");
  position: absolute;
  left: 20px;
  top: 96px;
}


.about-us-left::after {
  content: "";
  width: 49px;
  height: 49px;
  background-image: url("../img/icon-leaf.png");
  position: absolute;
  left: 20px;
  top: 180px;
}

.about-us-right::before {
  content: "";
  width: 49px;
  height: 49px;
  background-image: url("../img/icon-cow.png");
  position: absolute;
  right: 520px;
  top: 96px;
}

.about-us-right::after {
  content: "";
  width: 49px;
  height: 49px;
  background-image: url("../img/icon-thermo.png");
  position: absolute;
  right: 520px;
  top: 180px;
}

.container-left {
  background: #fff url("../img/post-image.png");
  float: left;
  width: 560px;
  margin-left: 26px;
  min-height: 220px;
  padding-left: 20px;
  box-sizing: border-box;
  border-radius: 15px;
  padding-top: 10px;
}

.post {
  display: block;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #323232;
  width: 284px;
}

.container-right {
  background: url("../img/post-ground.png");
  float: right;
  width: 560px;
  margin-right: 26px;
  min-height: 220px;
  padding-left: 20px;
  box-sizing: border-box;
  border-radius: 15px;
  color: #5a5a5a;
  position: relative;
}

.container-right-layer {
  background: #f8f7f4;
  width: 550px;
  min-height: 210px;
  border-radius: 15px;
  position: absolute;
  right: 5px;
  top: 5px;
  padding-left: 20px;
  box-sizing: border-box;
}

.container-right-layer p {
  padding-right: 27px;
}

.container-right-layer input {
  border-radius: 5px;
  font-size: 16px;
  color: #999;
  line-height: 24px;
  padding-left: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #fff;
  border: 1px solid #999;
  width: 364px;
  box-sizing: border-box;
}

.btn-subs {
  color: #fff;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  background-color: #eb563b;
  padding: 12px 17px;
  border: none;
  border-radius: 25px;
  width: 128px;
  box-sizing: border-box;
  margin-left: 10px;
}

.feedback {
  float: right;
  background-color: #fefefe;
  margin-top: 128px;
  margin-bottom: 92px;
  margin-right: 26px;
  min-height: 305px;
  border-radius: 10px;
  width: 302px;
  position: relative;
  z-index: 60;
}

.feedback p {
  margin: 0;
  padding: 0;
}

.feedback span {
  display: block;
}

.adress {
  font-size: 18px;
  line-height: 24px;
  color: #323232;
  font-weight: bold;
  margin-bottom: 24px;
}

.phone {
  font-size: 18px;
  line-height: 22px;
  color: #323232;
  font-weight: bold;
}

.feedback-text {
  color: #323232;
  font-size: 14px;
  line-height: 20px;
  padding-top: 29px;
  padding-left: 24px;
  padding-right: 34px;
  box-sizing: border-box;
}

.feedback-btn input[type="submit"] {
  display: inline-block;
  background-color: #ea5b3d;
  color: white;
  text-decoration: none;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  padding: 9px 0 13px 0;
  margin-right: 26px;
  border-radius: 30px;
  position: absolute;
  right: 25px;
  left: 25px;
  bottom: 23px;
  box-shadow: 0 1px 1px 0 #db968f;
  border: none;
  box-sizing: border-box;
  width: 250px;
}

.main-footer {
  margin-bottom: 25px;
}

.social {
  float: left;
  width: 200px;
  margin-left: 27px;
  margin-top: 3px;
}

.social-btn {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  font-size: 0;
  vertical-align: top;
  text-decoration: none;
  border-radius: 50%;
  opacity: 0.8;
  border: 3px solid #c2cec7;
}

.social-btn:hover {
  opacity: 1;
}

.social-btn:active {
  box-shadow: inset 0 2px 1px 1px #a4a5a4;
  opacity: 0.8;
}

.social-btn:last-child {
  margin-right: 0;
}

.social-btn-tw {
  background: url("../img/icon-tw-1.png");
  background-position: 50% 50%;
}

.social-btn-inst {
  background: url("../img/inst-icon.png");
  background-position: 50% 50%;
}

.social-btn-fb {
  background: url("../img/fb-icon.png");
  background-position: 50% 50%;
}

.social-btn-vk {
  background: url("../img/vk-icon.png");
  background-position: 50% 50%;
}

.production {
  float: left;
  width: 350px;
  margin-left: 223px;
  position: relative;
  margin-top: -1px;
}

.providers::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 13px;
  background: url("../img/icon-heart.png");
  top: 2px;
  left: -22px;
}

.production a {
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  vertical-align: top;
}

.production .about-make {
  margin-right: 40px;
}

.production .providers {
  font-size: 13px;
  font-weight: bold;
  line-height: 18px;
  margin-right: 27px;
  display: inline-block;
}

.footer-copyright {
  float: right;
  max-width: 190px;
  margin-right: 26px;
  margin-top: -2px;
  position: relative;
}

.copy {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 0;
}

.copy p {
  font-size: 12px;
  line-height: 18px;
  color: #fff;
  padding-top: 16px;
}

.btn-academy {
  position: absolute;
  top: -14px;
  left: 1px;
}

.site {
  text-decoration: none;
  color: #fff;
  border-bottom: 1px solid #9db1a5;
}

.sorting {
  float: left;
  width: 190px;
  margin: 0;
  margin-top: 27px;
  margin-right: 14px;
  margin-left: 15px;
  padding: 0;
  box-sizing: border-box;
}

.sort {
  margin-left: 13px;
  height: 36px;
  position: relative;
}

.sorting p {
  font-size: 14px;
  line-height: 16px;
  margin: 0 0 7px 30px;
  padding: 0;
}

.sort select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.sort::after {
  content: "";
  position: absolute;
  width: 9px;
  height: 5px;
  background-image: url("../img/marker.png");
  right: -2px;
  top: 15px;
}

.sort:hover:after {
  background-image: url("../img/marker-on.png");
}

.choice-left {
  margin: 0;
  margin-top: 10px;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}

.popular {
  padding-left: 13px;
  padding-top: 7px;
  padding-bottom: 11px;
  color: #fff;
  font-size: 16px;
  line-height: 18px;
  border: none;
  background: #a9b9af;
  border-radius: 25px;
  width: 193px;
  height: 36px;
  box-sizing: border-box;
}

.popular:hover {
  background-color: #fff;
  color: #000;
  font-weight: normal;
}

.price {
  float: left;
  width: 225px;
  margin-top: 26px;
  margin-right: 14px;
  margin-left: 16px;
}

.range-controls {
  position: relative;
  height: 36px;
  border-radius: 25px;
  padding-top: 15px;
  padding-left: 16px;
  padding-right: 16px;
  background: #a9b9af;
  width: 222px;
  box-sizing: border-box;
}

.range-controls .scale {
  height: 4px;
  background: #d7dcde;
}

.range-controls .bar {
  height: 4px;
  background: #f8f7f4;
  width: 82px;
  margin-left: 40px;
}

.range-controls .toggle {
  width: 20px;
  height: 20px;
  box-shadow: 0 1px 0 0 #a0aea5;
  border-radius: 100%;
  background: #f8f7f4;
  position: absolute;
  cursor: pointer;
  top: 7px;
  left: 0;
}

.toggle:hover {
  width: 23px;
  height: 23px;
  top: 6px;
  left: -1px;
}

.range-controls .toggle-min {
  left: 36px;
}

.range-controls .toggle-max {
  left: 134px;
}

.price p {
  margin: 0 0 8px 16px;
  padding: 0;
  font-size: 14px;
  line-height: 16px;
}

.fatness {
  float: left;
  margin-top: 25px;
  width: 416px;
}

.fatness p {
  padding: 0;
  margin: 0 0 8px 12px;
  font-size: 14px;
  line-height: 16px;
}

.fatness label {
  line-height: 18px;
  font-size: 16px;
  margin: 0;
  padding: 0;
  padding-left: 46px;
  cursor: pointer;
  position: relative;
}

.fatness label:first-child {
  padding-left: 45px;
}

.fatness .wrapper {
  box-sizing: border-box;
  height: 36px;
  border-radius: 30px;
  background-color: #aabcb2;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-left: -3px;
  font-size: 0;
}

.fatness input[type="radio"] {
  display: none;
}

.fatness input[type="radio"]+.radio-indicator {
  position: absolute;
  width: 22px;
  height: 22px;
  background: url("../img/radio-off.png") no-repeat center;
  top: 0;
  left: 14px;
}

.fatness input[type="radio"]+.radio-indicator:hover {
  position: absolute;
  width: 22px;
  height: 22px;
  background: url("../img/radio-hover.png") no-repeat center;
  top: 0;
  left: 14px;
}

.fatness input[type="radio"]:checked+.radio-indicator {
  position: absolute;
  width: 22px;
  height: 22px;
  background: url("../img/radio-choice.png") no-repeat center;
  left: 13px;
  top: 0;
}

.fatness input[type="radio"]:checked+.radio-indicator:hover {
  position: absolute;
  width: 22px;
  height: 22px;
  background: url("../img/radio-choice-hover.png") no-repeat center;
  left: 13px;
  top: 0;
}

.fillers-choice {
  float: left;
  width: 704px;
  color: #fff;
  margin-bottom: 30px;
}

.fillers-choice p {
  margin-top: 15px;
  margin-bottom: 5px;
  margin-left: 34px;
  line-height: 16px;
  font-size: 14px;
}

.fillers-choice label {
  display: inline-block;
  margin-top: 9px;
  padding-left: 46px;
  position: relative;
  cursor: pointer;
}

.fillers-choice input[type="checkbox"] {
  display: none;
}

.fillers-choice input[type="checkbox"]+.checkbox-indicator {
  position: absolute;
  top: 0;
  width: 20px;
  height: 20px;
  background-image: url("../img/chekbox-off.png");
  left: 13px;
}

.fillers-choice input[type="checkbox"]+.checkbox-indicator:hover {
  position: absolute;
  top: 0;
  width: 20px;
  height: 20px;
  background-image: url("../img/checkb-hov.png");
  left: 13px;
}

.fillers-choice input[type="checkbox"]:checked+.checkbox-indicator {
  width: 20px;
  height: 20px;
  position: absolute;
  background-image: url("../img/chekbox-on.png");
  left: 15px;
}

.fillers-choice input[type="checkbox"]:checked+.checkbox-indicator:hover {
  width: 20px;
  height: 20px;
  position: absolute;
  background-image: url("../img/checked-hov.png");
  left: 15px;
}

.fillers-filter {
  border-radius: 30px;
  background-color: #aabcb2;
  height: 36px;
  box-sizing: border-box;
  padding: 0;
  font-size: 0;
  width: 703px;
  margin-left: 20px;
}

.fillers-filter label {
  font-size: 16px;
  line-height: 18px;
}

.fillers-filter label:nth-child(2) {
  margin-left: 6px;
}

.fillers-filter label:nth-child(3) {
  margin-left: 10px;
}

.fillers-filter label:nth-child(4) {
  margin-left: 10px;
}

.fillers-filter label:nth-child(5) {
  margin-left: 8px;
  margin-right: 0;
}

.choice-right {
  position: relative;
  left: 10px;
}

.choice-btn {
  display: inline-block;
  background-color: #aabcb2;
  border: 2px solid #fff;
  color: white;
  text-decoration: none;
  padding: 6px 0 10px 0;
  border-radius: 20px;
  position: absolute;
  width: 144px;
  top: 37px;
  left: 734px;
  height: 36px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 18px;
}

.paginator {
  display: block;
  box-sizing: border-box;
  text-align: right;
  margin-top: 54px;
  margin-bottom: 65px;
  padding-right: 18px;
}

.paginator a {
  display: inline-block;
  font-size: 16px;
  height: 25px;
  width: 25px;
  line-height: 25px;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  color: white;
  border-radius: 50%;
}

.paginator .prev {
  background-image: url("../img/paginator-off.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.paginator .next {
  background-image: url("../img/paginator-on.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin-left: 5px;
}

.paginator .current {
  background-color: #fff;
  color: #000;
}

.paginator .disabled {
  opacity: 0.3;
}

.paginator a:hover:not(.current) {
  background-color: #9db1a5;
}

.footer-copyright::after {
  content: "";
  height: 1px;
  background-color: #9db1a5;
  width: 1146px;
  position: absolute;
  right: 0;
  top: -33px;
}
