body {
  font-size: 16px;
  font-family: "Roboto Regular", "Arial", sans-serif;
  font-weight: normal;
  line-height: 22px;
  color: #323232;
  background-color: #849d8f;
}

h2 {
  font-size: 24px;
  font-family: "Roboto Medium", "Arial", sans-serif;
  font-weight: normal;
  line-height: 30px;
  color: #323232;
  padding: 0;
  margin: 0;
}

h3 {
  font-size: 16px;
  font-family: "Roboto Medium", "Arial", sans-serif;
  font-weight: normal;
  line-height: 22px;
  color: #ffffff;
}

.main-header {
  background-color: #f0c2e2;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.index-logo {
  float: left;
  width: 152px;
}

.header-left-info {
  float: left;
  background-color: #d09fc2;
  width: 350px;
}

.header-right-bottom {
  float: right;
  background-color: #d09fc2;
  margin-top: 75px;
}

.stock {
  margin-bottom: 40px;
}

.stock-left {
  background-color: #90d6af;
  float: left;
  width: 560px;
  min-height: 226px;

}

.stock-right {
  background-color: #90d6af;
  float: right;
  width: 560px;
  min-height: 226px;
}

.products{
  font-size: 0;
  text-align:center;
}

.icecream {
  display: inline-block;
  margin-right: 27px;
  width: 267px;
  margin-bottom: 38px;
  vertical-align: top;
  background-color: #90d6af;
}

.icecream:nth-child(4n) {
  margin-right: 0;
}

.icecream-price {
  font-size: 45px;
}

.about-us {
  background-color: #cccccc;
  margin-bottom: 40px;
  margin-top: 0;
}

.about-us-left {
  width: 480px;
  float: left;
}

.about-us-right {
  float: right;
  width: 480px;
}

.container-left {
  background-color: #99ccff;
  float: left;
  width: 560px;
  margin-left: 26px;
  min-height: 220px;
}

.container-right {
  background-color: #99ccff;
  float: right;
  width: 560px;
  margin-right: 26px;
  min-height: 220px;
}

.feedback {
  background-color: #e8fbac;
  margin-top: 100px;
  margin-bottom: 102px;
  margin-left: 870px;
  margin-right: : 26px;
  width: 302px;
  min-height: 305px;
}

.main-footer {
 background-color: #a5eede;
}

.social {
  float: left;
  background-color: #efc1c1;
  margin-right: 10px;
  width: 186px;
}

.production {
  background-color: #efc1c1;
  float: left;
  width: 300px;
  margin-left: 230px;
}

.footer-copyright {
  float: right;
  background-color: #efc1c1;
  width: 190px;
}

.sorting {
  float: left;
  width: 190px;
}

.price {
  float: left;
  width: 220px;
}

.fatness {
  float: left;
  width: 415px;
}

.fillers-choice {
  float: left;
  width: 702px;
  margin-bottom: 38px;
}

.choice-btn {
  float: left;
  width: 144px;
}

.paginator {
  text-align: right;
  margin-bottom: 30px;
}

.choice-left {
  margin-bottom: 38px;
}
