body {
  font-size: 16px;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: normal;
  line-height: 22px;
  color: #323232;
  background-color: #849d8f;
}

.sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-basket-active {
    width: 21px;
    height: 20px;
    background-position: -10px -10px;
}

.sprite-basket-icon {
    width: 21px;
    height: 20px;
    background-position: -10px -50px;
}

.sprite-icon-fb {
    width: 32px;
    height: 32px;
    background-position: -10px -90px;
}

.sprite-icon-heart {
    width: 15px;
    height: 13px;
    background-position: -10px -142px;
}

.sprite-icon-inst {
    width: 32px;
    height: 32px;
    background-position: -10px -175px;
}

.sprite-icon-tw {
    width: 33px;
    height: 32px;
    background-position: -10px -227px;
}

.sprite-icon-vk {
    width: 32px;
    height: 32px;
    background-position: -10px -279px;
}

.sprite-login-active {
    width: 21px;
    height: 19px;
    background-position: -10px -331px;
}

.sprite-login-icon {
    width: 21px;
    height: 19px;
    background-position: -10px -370px;
}

.sprite-search-active {
    width: 17px;
    height: 17px;
    background-position: -10px -409px;
}

.sprite-search-icon {
    width: 17px;
    height: 17px;
    background-position: -10px -446px;
}

h2 {
  font-size: 24px;
  font-family: "Roboto Medium", "Arial", sans-serif;
  font-weight: normal;
  line-height: 30px;
  color: #323232;
  padding: 0;
  margin: 0;
}

h3 {
  font-size: 16px;
  font-family: "Roboto Medium", "Arial", sans-serif;
  font-weight: normal;
  line-height: 22px;
  color: #ffffff;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.index-logo {
  float: left;
  width: 152px;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 15px;
  }

.main-menu, .sub-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.main-menu li {
  display: inline-block;;
  vertical-align: top;
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
  position: relative;
}

.main-menu a:hover {
  color: black;
  background: #ffffff;
}

.main-menu > li > a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  margin-left: 15px;
  margin-top: 32px;
  margin-right: 15px;
  box-shadow: 0 1px 0 0px #c2cec8;
}

.main-menu .sub-menu {
  position: absolute;
  top: 65px;
  left: 5px;
  z-index: 10;
  width: 145px;
  display: none;
  background-color: #ffffff;
  box-shadow: 5px 15px 15px 5px #58665e;
}

li:hover .sub-menu {
    display: block;
}

.sub-menu li {
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  padding-bottom: 17px;
  padding-left: 20px;
  padding-right: 22px;
  }

.sub-menu li:first-child {
  font-weight: bold;
  padding-top: 13px;
  padding-bottom: 28px;
}

.sub-menu li:last-child {
  padding-bottom: 15px;
}

.sub-menu li:hover {
  background-color: #fbded7;
}

.sub-menu li:active {
  background-color: #f6b5a5;
}

.sub-menu a {
  color: #000000;
  text-decoration: none;
  display: block;
}

.field {
  display: block;
}

.search-icon {
  float: right;
  position: relative;
  width: 33px;
  height: 33px;
  background: #a1b6aa url("img/search-icon.png") no-repeat;
}

.header-left-info {
  float: left;
  width: 350px;
}

.header-right-bottom {
  float: right;
  margin-top: 75px;
}

.stock {
  margin-bottom: 40px;
}

.stock-left {
  background-color: #90d6af;
  float: left;
  width: 560px;
  min-height: 226px;

}

.stock-right {
  background-color: #90d6af;
  float: right;
  width: 560px;
  min-height: 226px;
}

.products{
  font-size: 0;
  text-align:center;
}

.icecream {
  display: inline-block;
  margin-right: 27px;
  width: 267px;
  margin-bottom: 38px;
  vertical-align: top;
  background-color: #90d6af;
}

.icecream:nth-child(4n) {
  margin-right: 0;
}

.icecream-price {
  font-size: 45px;
}

.about-us {
  background-color: #cccccc;
  margin-bottom: 40px;
  margin-top: 0;
}

.about-us-left {
  width: 480px;
  float: left;
}

.about-us-right {
  float: right;
  width: 480px;
}

.container-left {
  background-color: #99ccff;
  float: left;
  width: 560px;
  margin-left: 26px;
  min-height: 220px;
}

.container-right {
  background-color: #99ccff;
  float: right;
  width: 560px;
  margin-right: 26px;
  min-height: 220px;
}

.feedback {
  background-color: #e8fbac;
  margin-top: 100px;
  margin-bottom: 102px;
  margin-left: 870px;
  margin-right: : 26px;
  width: 302px;
  min-height: 305px;
}

.main-footer {
 background-color: #a5eede;
}

.social {
  float: left;
  background-color: #efc1c1;
  margin-right: 10px;
  width: 186px;
}

.production {
  background-color: #efc1c1;
  float: left;
  width: 300px;
  margin-left: 230px;
}

.footer-copyright {
  float: right;
  background-color: #efc1c1;
  width: 190px;
}

.sorting {
  float: left;
  width: 190px;
}

.price {
  float: left;
  width: 220px;
}

.fatness {
  float: left;
  width: 415px;
}

.fillers-choice {
  float: left;
  width: 702px;
  margin-bottom: 38px;
}

.choice-btn {
  float: left;
  width: 144px;
}

.paginator {
  text-align: right;
  margin-bottom: 30px;
}

.choice-left {
  margin-bottom: 38px;
}
